@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

@Primary-color-Darkcyan:  hsl(158, 36%, 37%); // sea blue
@Primary-color-Cream:hsl(30, 38%, 92%);

@Neutral-color-Verydarkblue:hsl(212, 21%, 14%);
@Neutral-color-Darkgrayishblue:hsl(228, 12%, 48%);
@Neutral-color-White:hsl(0, 0%, 100%);
   

main{
    background-color: @Primary-color-Cream;
    height: 100vh;
    display: flex;
    width: 100vw;
   
    //     font-family: 'Fraunces', serif;
    

}



.card{
    width: 600px;
    height: 500px;
    margin: auto;
    display:flex;
    border: 1px solid @Neutral-color-White;
    background-color: @Neutral-color-White;
    flex-direction: row;
    border-radius: 15px;
    

    >div:first-child{
        width: 50%;
        overflow: hidden;
         border-top-left-radius: 15px;
         border-bottom-left-radius: 15px;
        img{
            width: 100%;
            height: 100%;
            object-fit:cover;
           
        }
    }
    >div:last-child{
        width: 50%;
        display:flex;
        flex-direction: column;
        box-sizing: border-box;
        padding:20px 25px 20px 25px  ;
        h4{
            color: @Neutral-color-Darkgrayishblue;
            letter-spacing: 5px;
            text-transform: uppercase;
            margin-bottom: 0px;
            font-family: 'Montserrat', sans-serif;
       

        }
        h1{
            font-weight:900;
            font-size:35px;
            color: @Neutral-color-Verydarkblue;
            font-family: 'Fraunces', serif;
            letter-spacing: 1px;
            line-height: 35px;

        }
        p{
            line-height: 20px;
            // letter-spacing:2px;
            color:@Neutral-color-Darkgrayishblue;

        }
        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 5px;
            padding-bottom: 15px;
            justify-content: space-between;

            >div:first-child{
                width: 60%;
                font-weight: bolder;
                font-size: 40px;
                color: @Primary-color-Darkcyan;
            }
            >div:last-child{
             text-decoration: line-through;
             color: gray;
             
            }
                  
        }
        button{
            background-color: @Primary-color-Darkcyan;
            color: @Neutral-color-White;
            padding: 15px;
            border-radius: 10px;
            border-color: @Primary-color-Darkcyan;
            //Neutral-color-Darkgrayishblue
            box-shadow: 2px 2px 2px @Neutral-color-White;

        }

    }        
    
}
@media only screen and (max-width: 1124px) {

    main{
        height: 100%;
        width: 100%;

    }
    .card{
        flex-direction:column;
        width: 100%;
        height: 100%;
        margin: 20px;
       
        
        >div:first-child{
            width: 100%;
            height: 300px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 0px;
           img{
               width: 100%;
               height: 100%;
               object-fit:cover;
              
           }
        }
        >div:last-child{
            width: 100%;
            padding:10px 20px 10px 20px  ;
            h1{
                font-size: 35px;
            }
        }
    }  

}